<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="<?= base_url('build\static\css\main.47fc07b4.css')?>">
    
    
    <title>react</title>
</head>
<body>


</body>
<div id="root"></div>
<script src="<?= base_url('build\static\js\main.13aac730.js') ?>" ></script>
<script src="<?= base_url('build\static\js\787.9f5dd5a8.chunk.js') ?>" ></script>





<!--

1. 이미지 경로 수정이 필요
2. 어떻게?
3. build 경로를 수정?
4. process.env.PUBLIC_URL 로 경로 변경

 -->